{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="landing-image">
    <div class="container-fluid col-lg-6">
        <div class="row justify-content-end">
            <div class="col-sm-8 col-md-6">
                <div class="text-center">
                    <!-- Darkend box to include clear content and button style-->
                    <h1 class="mb-2 p-2 text-white">Welcome Golfers!</h1>
                    <h2 class="mb-2 p-2 text-white">Easter rates are now available at €50.00 PP until 30th of April. Sign In above to request a tee time now!</h2>
                    <h4 class="p-2 text-white">Not a member with our site? Sign up below in less than 2 minutes! Our only requirement is that you are over 16!</h4>
                    
                    <a class="btn btn1" href="">Browse Now</a>                 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Hello there</h1>
        </div>
    </div>
</div>

{% endblock %}