{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="landing-image">
    <div class="container-fluid col-lg-12">
        <div class="row justify-content-end">
            <div class="col-sm-6 col-md-4">
                <div class="text-center">
                    <!-- Darkend box to include clear content and button style-->
                    <h1 class="mb-2 p-2 text-white">Welcome to Golf Mania!</h1>
                    <h3 class="mb-2 p-2 text-white">Browse all our products and get ready for this season!</h3>
                    <h4 class="p-2 text-white"></h4>
                    
                    <a class="btn btn1 mb-3" href="{% url 'products' %}">Browse Now</a>                 
                </div>
            </div>
        </div>
    </div>
</div>
<section class="mx-auto">
    <div class="container-fluid new-products">
        <!-- Clearance products advertising area under landing image to catch user's attention with best deals -->
        <div class="row">
            <div class="col-12 text-center mt-3">
                <h2>Check out our newest products!</h2>
            </div>
                {% for product in products %}
                    {% if product.category.name == 'clearance' %}
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mx-auto my-3">
                            <div class="card border-0">
                                <div class="card-body pb-0">
                                    
                                    <h6 class="text-center fs-5">{{ product.name }}</h6>                     
                                
                                {% if product.rating %}
                                    <!-- if product's rating is higher than 4, show highly recommended message -->
                                    <small class="text-muted text-center"><i class="fas fa-star mr-1 star-color"></i>{{ product.rating }} / 5 {% if product.rating > 4.00 %}| <small>Highly Recommended</small>{% endif %}</small>
                                {% endif %}
                                <h5 class="lead mb-0 text-center mt-2 font-weight-bold">{% if product.old_price %}<small class="text-muted text-decoration-line-through me-3 fs-5">€{{ product.old_price }}</small>{% endif %}€{{ product.price }}</h5>

                                {% if product.image %}
                                <a class="text-decoration-none" href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                            </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
    </div>
</section>

<!-- View reviews section -->
<!-- Reviews and comments section for visitors to see -->
<!-- feedback app is linked with this section so users can interact with reviews available -->
<!-- each review is linked with its own comments -->
<div class="container-fluid mb-5 mt-5">
    <div class="row">
        <hr class="">
        <h2 class="mt-3 text-center">Check out some of our recent reviews from previous customers!</h2>

        <!-- Review Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for review in reviews %}
                <div class="col-md-6 mx-auto">
                    <div class="card mb-sm-4">
                        <div class="card-body">                  
                            <h3 class="card-title">{{ review.title }}</h3>
                            <br>
                            <p class="card-text">{{ review.excerpt }}</p>
                            <hr />
                            <!-- to display number of likes on each review -->
                            <p class="card-text text-muted h6">{{ review.created_on}} | Written by: {{ review.member }} </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %} 
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <!-- if more than three reviews are available, paginate -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}