{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="landing-image">
    <div class="container-fluid col-lg-6">
        <div class="row justify-content-end">
            <div class="col-sm-8 col-md-6">
                <div class="text-center">
                    <!-- Darkend box to include clear content and button style-->
                    <h1 class="mb-2 p-2 text-white">Welcome Golfers!</h1>
                    <h2 class="mb-2 p-2 text-white">Easter rates are now available at €50.00 PP until 30th of April. Sign In above to request a tee time now!</h2>
                    <h4 class="p-2 text-white">Not a member with our site? Sign up below in less than 2 minutes! Our only requirement is that you are over 16!</h4>
                    
                    <a class="btn btn1" href="">Browse Now</a>                 
                </div>
            </div>
        </div>
    </div>
</div>
<section class="showcase mx-auto">
    <div class="container-fluid p-0">
        <!-- Driving Range -->
        <div class="row g-0">
            <div class="col-lg-6 order-lg-1">
                <div class="showcase-img"></div>
            </div>
            <div class="col-lg-6 order-lg-2 my-auto showcase-text">
                <h2 class="text-center p-2 mt-4 mx-3">
                    Refurbished Driving Range five minutes from the first tee box!
                </h2>
                <p class="lead mb-0 mx-3 p-1 text-center">
                    The long break over COVID19 has given our team and grass plenty of time 
                    to restructure our range to fit more golfers and give you a more enhanced range!
                    <br>
                    Make sure to arrive early to try it out yourself, free of charge!
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}