{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid product-container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">My Profile</h2>
                <hr class="w-50 my-4 mx-auto">
            </div>
        </div>
        <div class="row">
            <!-- Profile update form -->
            <div class="col-sm-12 col-lg-7">
                <h4 class="logo-font text-center mb-2">Your Delivery Information</h4>
                <div class="col-12 col-lg-8 mx-auto">
                    <form action="{% url 'profile' %}" method="POST" id="default-profile-form">
                        {% csrf_token %}
                        {{ profile_form|crispy }}
                        <div class="col-12 text-center">
                            <button aria-label="update profile" type="submit" class="btn btn1 my-4">Update Profile</button>
                        </div>
                        
                    </form>
                </div>
            </div>
            <!-- Order History Section -->
            <div class="col-12 col-lg-5">
                <h4 class="logo-font text-center mb-2">Your Order History</h4>
                <div class="order-history-section table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a aria-label="go to order" href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}" class="text-decoration-underline">
                                            {{ order.order_number|truncatechars:8 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    <strong>{{ item.quantity }}</strong> x {{ item.product.name }}
                                                    {% if item.product.has_sizes %}
                                                        (Size <strong>{{ item.product_size|upper }}</strong>)
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>€{{ order.order_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-12 my-4 text-center">
                    <a aria-label="shop again button" href="{% url 'products' %}" class="btn btn1">
                        <span class="text-uppercase me-1">Shop Again</span>
                        <span class="">
                            <i class="fas fa-shopping-bag"></i>
                        </span>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
        {{ block.super }}
        <!-- to change the color of the country field if selected/not selected -->
        <script src="{% static 'profiles/js/countryoption.js' %}"></script>
{% endblock %}