{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid product-container">
        {% if from_profile_page %}
            <div class="row">
                <div class="col-12 text-center mt-3">
                    <h2 class="logo-font">Order History</h2>
                    <small>For Order: <strong id="order-data">{{ order.order_number }}</strong></small>
                    <hr class="w-50 mb-2 mt-3 mx-auto">
                </div>
                <div class="col-12 text-center">
                    <a href="{% url 'profile' %}" class="btn btn1">
                        <span class="text-uppercase">Back to My Profile</span>
                        <span class="">
                            <i class="fas fa-address-card"></i>
                        </span>
                    </a>
                </div>
                <div class="col-12 text-center mt-4">
                    <p>Please find details of your previous order below! Thanks again for being awesome!</p>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-12 text-center mt-3">
                    <h2 class="logo-font">Thank you for your order {{ order.first_name }}! <i id="confirm-icon" class="fas fa-check-circle"></i></h2>
                    <small>Order: <strong id="order-data">{{ order.order_number }}</strong></small>
                    <hr class="w-50 mb-2 mt-3 mx-auto">
                </div>
                <div class="col-12 text-center mt-4">
                    <p>Thanks for being awesome, we hope you enjoy your purchase!</p>
                </div>
                <div class="col-12 text-center">
                    <a href="{% url 'products' %}" class="btn btn1">
                        <span class="text-uppercase">Shop Again</span>
                        <span class="">
                            <i class="fas fa-shopping-bag"></i>
                        </span>
                    </a>
                </div>
                <div class="col-12 col-lg-6 text-center mx-auto mt-4">
                    <h5>Please find your order details below. A confirmation email has also
                        been sent to <small><strong id="email-data" class="logo-font">{{ order.email }}</strong></small>.
                    </h5>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-12 col-lg-6 text-center mx-auto">
                <div class="order-info-container p-3 my-3">
                    <div class="row">
                        <div class="col-12">
                            <span class="float-start">
                                <h5 class="logo-font">Ordering Date:</h5>
                            </span>
                            <span class="float-end">
                                <p class="fs-6"><strong>{{ order.date }}</strong></p>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-none d-md-block">
                            <span class="float-start">
                                <h5 class="logo-font">Order Number:</h5>
                            </span>
                            <span class="float-end">
                                <small><strong id="order-data">{{ order.order_number }}</strong></small>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3 mb-2 text-center">
                            <h4 class="logo-font">Order Summary:</h4>
                        </div>
                    </div>
                    <!-- product section displaying item.product details for 
                    each product in the order -->
                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12">
                            <span class="float-start">
                                <p class="fs-6">
                                    <strong>{{ item.quantity }}</strong> x {{ item.product.name }}
                                    {% if item.product_size %}
                                        (Size: <strong> {{ item.product_size|upper }} </strong>)
                                    {% endif%}
                                </p>
                            </span>
                            <span class="float-end">
                                <p class="fs-6"><strong>€{{ item.product.price }}</strong></p>
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Personal Details -->
                    <h5 class="logo-font text-start text-decoration-underline my-3"><strong>Personal Details:</strong><h5>

                    <div class="row">
                        <div class="col-12">
                            <span class="float-start">
                                <p class="fs-6">Name:</p>
                            </span>
                            <span class="float-end">
                                <p class="fs-6"><strong>{{ order.title }}. {{ order.first_name }} {{ order.last_name }}</strong></p>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <span class="float-start">
                                <p class="fs-6">Email:</p>
                            </span>
                            <span class="float-end">
                                <p class="fs-6"><strong id="email-data">{{ order.email }}</strong></p>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <span class="float-start">
                                <p class="fs-6">Contact No:</p>
                            </span>
                            <span class="float-end">
                                <p class="fs-6"><strong>{{ order.phone_number }}</strong></p>
                            </span>
                        </div>
                    </div>
                    <!-- Delivery Details -->
                    <h5 class="logo-font text-start text-decoration-underline my-3"><strong>Delivery Details:</strong><h5>
                    <div class="row">
                        <div class="col-12">
                            <span class="float-start">
                                <p class="fs-6">Line 1:</p>
                            </span>
                            <span class="float-end">
                                <p class="fs-6">
                                    <strong>
                                        {% if order.house_number %}
                                            {{ order.house_number }}
                                        {% endif %}, {{ order.street_address1 }}
                                    </strong>
                                </p>
                            </span>
                        </div>
                    </div>
                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12">
                            <span class="float-start">
                                <p class="fs-6">Line 2:</p>
                            </span>
                            <span class="float-end">
                                <p class="fs-6">
                                    <strong>
                                        {{ order.street_address2 }}
                                    </strong>
                                </p>
                            </span>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12">
                            <span class="float-start">
                                <p class="fs-6">Town/City:</p>
                            </span>
                            <span class="float-end">
                                <p class="fs-6">
                                    <strong>
                                        {{ order.town_city }}
                                    </strong>
                                </p>
                            </span>
                        </div>
                    </div>
                    {% if order.county %}
                    <div class="row">
                        <div class="col-12">
                            <span class="float-start">
                                <p class="fs-6">County:</p>
                            </span>
                            <span class="float-end">
                                <p class="fs-6">
                                    <strong>
                                        {{ order.county }}
                                    </strong>
                                </p>
                            </span>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12">
                            <span class="float-start">
                                <p class="fs-6">Country:</p>
                            </span>
                            <span class="float-end">
                                <p class="fs-6">
                                    <strong>
                                        {{ order.country }}
                                    </strong>
                                </p>
                            </span>
                        </div>
                    </div>
                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12">
                            <span class="float-start">
                                <p class="fs-6">POSTCODE:</p>
                            </span>
                            <span class="float-end">
                                <p class="fs-6">
                                    <strong>
                                        {{ order.postcode }}
                                    </strong>
                                </p>
                            </span>
                        </div>
                    </div>
                    {% endif %}
                    {% if order.delivery_instructions %}
                    <div class="row">
                        <div class="col-12">
                            <span class="float-start">
                                <p class="fs-6">Delivery Instructions:</p>
                            </span>
                            <span class="float-end">
                                <p class="fs-6" id="instructions"> 
                                    "<strong>{{ order.delivery_instructions }}</strong>"
                                </p>
                            </span>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 text-center">
                            <h5 class="logo-font text-start text-decoration-underline my-3"><strong>Cost Summary:</strong><h5>
                        </div>
                    </div>
                    <!-- Total cost displayed -->
                    <div class="row">
                        <div class="col-12">
                            <span class="float-start">
                                <h5 class="logo-font">Subtotal:</h5>
                            </span>
                            <span class="float-end">
                                <p class="fs-5 logo-font"><strong>€{{ order.sub_total }}</strong></p>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <span class="float-start">
                                <h5 class="logo-font">Delivery:</h5>
                            </span>
                            <span class="float-end">
                                <p class="fs-5 logo-font"><strong>€{{ order.delivery_cost }}</strong></p>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <span class="float-start">
                                <h4 class="logo-font">Order Total:</h4>
                            </span>
                            <span class="float-end">
                                <p class="fs-4 logo-font"><strong>€{{ order.order_total }}</strong></p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>              
        </div>
        <!-- Newest products advertising area under product description -->
        <div class="row">
            <div class="col-12 mb-4 mt-2 text-center">
                <h3 class="fs-2 logo-font">Check out our newest editions {{ order.first_name}}!</h3>
            </div>
                {% for product in products %}
                    {% if product.category.name == 'new_in' %}
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mx-auto">
                            <div class="card border-0">
                                <div class="card-body pb-0">
                                    
                                    <h5 class="text-center logo-font">{{ product.name }}</h5>                     
                                </div>
                                {% if product.rating %}
                                    <!-- if product's rating is higher than 4, show highly recommended message -->
                                    <small class="text-muted text-center"><i class="fas fa-star mr-1 star-color"></i>{{ product.rating }} / 5 {% if product.rating > 4.00 %}| <small>Highly Recommended</small>{% endif %}</small>
                                {% endif %}
                                <h5 class="lead mb-0 text-center mt-3 mb-0 logo-font font-weight-bold">{% if product.old_price %}<small class="text-danger text-decoration-line-through me-3 fs-5">€{{ product.old_price }}</small>{% endif %}€{{ product.price }}</h5>

                                {% if product.image %}
                                <a class="text-decoration-none" href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
    </div>
{% endblock %}