{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid product-container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Secure Checkout</h2>
                <hr class="w-50 my-4 mx-auto">
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-7 text-center mx-auto order-2 order-md-1">
                <h3 class="logo-font">Delivery</h3>
                <hr class="w-75 my-4 mx-auto">

                <div class="col-12- col-lg-8 mx-auto">
                    <form action="{% url 'checkout' %}" method="POST" id="delivery-form">
                        {% csrf_token %}
                        <fieldset class="px-1 mb-5 w-100">
                            <legend class="fieldset-label w-auto"><h5 class="text-black">Personal Details</h5></legend>
                            {{ checkout_form.title | as_crispy_field }}
                            {{ checkout_form.first_name | as_crispy_field }}
                            {{ checkout_form.last_name | as_crispy_field }}
                            {{ checkout_form.email | as_crispy_field }}
                            {{ checkout_form.phone_number | as_crispy_field }}
                        </fieldset>
                        <fieldset class="rounded px-3 mb-5">
                            <legend class="fieldset-label w-auto"><h5 class="text-black">Delivery Details</h5></legend>
                            {{ checkout_form.house_number | as_crispy_field }}
                            {{ checkout_form.street_address1 | as_crispy_field }}
                            {{ checkout_form.street_address2 | as_crispy_field }}
                            {{ checkout_form.town_city | as_crispy_field }}
                            {{ checkout_form.county | as_crispy_field }}
                            {{ checkout_form.country | as_crispy_field }}
                            {{ checkout_form.postcode | as_crispy_field }}
                            {{ checkout_form.delivery_instructions | as_crispy_field }}
                            <div class="mt-1 mb-3 text-start">
                                <small><strong>*</strong> indicates a required field</small>
                            </div>
                            <div class="form-check form-check-inline float-start p-0 mr-0 mt-2">
                                {% if user.is_authenticated %}
                                    <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                    <input class="form-check-input mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                                {% else %}
                                    <label class="form-check-label" for="id-save-info">
                                        <h5>Not signed in yet?</h5>
                                        <a class="" href="{% url 'account_signup' %}">Create an account</a> or
                                        <a class="" href="{% url 'account_login' %}">login</a> to save your information for less hassle next time!
                                    </label>
                                {% endif %}
                            </div>
                        </fieldset>
                        <fieldset class="px-3">
                            <legend class="fieldset-label w-auto"><h5 class="text-black">Payment Details</h5></legend>
                            <!-- A Stripe card element will go here -->
                            <div class="mb-3" id="card-element"></div>

                            <!-- Used to display form errors -->
                            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>

                            <!-- Pass the client secret to the view so we can get the payment intent id -->
                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        </fieldset>

                        <div class="submit-button text-right mt-3 mb-2">
                            <a aria-label="view basket" href="{% url 'view_basket' %}" class="btn btn1">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                            </a>
                            <button aria-label="complete order" id="submit-button" class="btn btn1">
                                <span class="font-weight-bold">Complete Order</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </button>
                            <p class="small text-danger my-1">
                                <span class="icon">
                                    <i class="fas fa-exclamation-circle"></i>
                                </span>
                                <span>Your card will be charged <strong>€{{ order_total|floatformat:2 }}</strong></span>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Shipping Basket Summary on the right of checkout.html -->
            <div class="col-12 col-md-6 col-lg-4 mx-auto order-1 order-md-2">
                <div class="col-12 container-fluid shopping-basket mt-3">
                    <div class="float-start">
                        <h4 class="text-muted logo-font pt-2">Shopping Basket ({{ product_count }})</h4>
                    </div>
                    <div class="float-end">
                        <a aria-label="edit my basket" href="{% url 'view_basket' %}"><small class="text-decoration-underline">Edit Basket</small></a>
                    </div>
                    <hr class="w-100 my-3 mx-auto">
                    {% for item in basket_items %}
                        <div class="row">
                            <div class="col-2 mb-3">
                                <!-- image is linked with product_details.html -->
                                <a aria-label="product details page" href="{% url 'product_detail' item.product.id %}">
                                    {% if item.product.image %}
                                        <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                                    {% else %}
                                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-7">
                                <p class="my-0 small"><strong>{{ item.product.name }}</strong></p>
                                <!-- if product has hand_type-->
                                {% if item.product.hand_type %}
                                    <p class="text-muted small my-0">Hand Type: <strong>{{ item.product.hand_type }}</strong></p>
                                {% endif %}
                                <!-- if product has size selected -->
                                {% if item.product.has_sizes %}
                                    <p class="my-0 small">Size: <strong>{{ item.size|upper }}</strong></p>
                                {% endif %}
                                <p class="my-0 small text-muted">Qty: <strong>{{ item.quantity }}</strong></p>
                            </div>
                            <!-- subtotal calculated using basket_tools (price * quantity) -->
                            <div class="col-3 text-right">
                                <p class="my-0 fs-6 text-muted"><strong>€{{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Order Summary Section including subtotal, delivery and order total -->
                <div class="col-12 container-fluid shopping-summary mt-5 mb-4">
                    <h4 class="text-muted logo-font mt-5 pt-2">Order Summary</h4>
                    <hr class="w-100 my-3 mx-auto">
                    
                    <!-- Order total -->
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="float-start">
                                <h5 class="logo-font">Subtotal:</h5>
                            </div>
                            <div class="float-end"><p class="fs-5 logo-font"><strong>€{{ total|floatformat:2 }}</strong></p></div>
                        </div>
                        <div class="col-12">
                            <div class="float-start">
                                <h5 class="logo-font">Delivery:</h5>
                            </div>
                            <div class="float-end"><p class="fs-5 logo-font"><strong>€{{ delivery|floatformat:2 }}</strong></p></div>
                        </div>

                        <hr class="w-100 my-3 mx-auto">

                        <div class="col-12">
                            <div class="float-start">
                                <h4 class="logo-font"><strong>Order Total:</strong></h4>
                            </div>
                            <div class="float-end"><p class="fs-4 logo-font"><strong>€{{ order_total|floatformat:2 }}</strong></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                
    </div>
    <!-- loading screen overlay checkout.html -->
    <div id="overlay-screen">
        <h1>
            <span class="loading-icon">
                <i class="fas fa-spinner-third fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>
{% endblock %}

{% block postloadjs %}
   {{ block.super }}
   {{ stripe_public_key|json_script:"id_stripe_public_key" }}
   {{ client_secret|json_script:"id_client_secret" }}
   <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}