#default-profile-form {
    margin: 0 auto;
    
}
/* styling form input elements */
#default-profile-form input,
#default-profile-form select {
    width: 100%;
    margin-top: 8px;
}

#default-profile-form input::placeholder {
    color: #aab7c4;
}
/* styling country input element */
#id_default_country option:first-child {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}
/* setting max height of order history section - 
same as profile form on other side */
.order-history-section {
    max-height: 437px;
    overflow-y: auto;
}