#default-profile-form {
    width: 50%;
    margin: 0 auto;
}

#default-profile-form input,
#default-profile-form select {
    width: 100%;
    margin-top: 8px;
}

#default-profile-form input::placeholder {
    color: #aab7c4;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}