{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Your Basket</h2>
                <hr class="w-50 my-4 mx-auto">
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                {% if basket_items %}
                <h2>Your Shopping Basket</h2>
                <p class="mt-3"><strong>{{ basket_items|length }}</strong> item(s) in your bag currently.</p>
                <!-- only visible up to medium sized screens -->
                <div class="table-responsive rounded d-none d-md-block">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Item Total</th>
                            </tr>
                        </thead>

                        {% for item in basket_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    <a href="{% url 'product_detail' item.product.id %}">
                                        <!-- if product has no image, display general 'none' image in  -->
                                        {% if item.product.image %}
                                            <img class="basket-img rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                        {% else %}
                                            <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                        {% endif %}
                                    </a>
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    <p class="my-2 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    <!-- if produce has size option-->
                                    {% if item.product.has_sizes %}
                                        <p class="my-2 small text-muted">Size: <strong>{{ item.size|upper }}</strong></p>
                                    {% endif %}
                                    {% if item.product.hand_type %}
                                        <p class="my-0 small">Hand Type: <strong>{{ item.product.hand_type }}</strong></p>
                                    {% endif %}
                                    <!-- if product has quality option -->
                                    {% if item.product.has_quality %}
                                        <p class="my-2 small text-muted">Quality: {{ item.quality|upper }}</p>
                                    {% endif %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>€{{ item.product.price }}</strong></p>
                                </td>
                                <td class="py-3 w-25">
                                    {% include "basket/quantity_post_form.html" %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- only visible up to smaller sized screens -->
                {% for item in basket_items %}
                    <div class="row mt-3">
                        <h4 class="col-sm-12 text-center d-block d-sm-none"><strong>{{ item.product.name }}</strong></h4>
                        <div class="col-12 col-sm-6 d-md-none mt-2">
                            <a href="{% url 'product_detail' item.product.id %}">
                                <img class="basket-img" src="{{ item.product.image.url }}">
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 d-md-none">
                            <p class="d-none d-sm-block"><strong>{{ item.product.name }}</strong></p>

                            <p class="my-0">Item Price: <strong>€{{ item.product.price }}</strong></p>

                            <p class="mt-2 small text-muted">SKU: {{ item.product.sku|upper }}</p>

                            <!-- if product has hand size option -->
                            {% if item.product.has_hand %}
                                <p class="mt-1 small text-muted">Hand Size: {{ item.product.sku|upper }}</p>
                            {% endif %}
                            <!-- if produce has size option-->
                            {% if item.product.has_size %}
                                <p class="mt-1 small text-muted">Size: {{ item.product.sku|upper }}</p>
                            {% endif %}
                            <!-- if product has quality option -->
                            {% if item.product.has_quality %}
                                <p class="mt-1 small text-muted">Quality: {{ item.product.quality|upper }}</p>
                            {% endif %}

                            <p class="mt-2">Quantity: <strong>{{ item.quantity }}</strong></p>

                            <p class="mt-2">Total: <strong>€{{ item.product.price }} + quantity</strong></p>
                        </div>
                    </div>   
                
                {% endfor %}
            </div>
            <div class="col-12 col-lg-4 mx-auto">
                <h3>Your Order Summary</h3>
                <!-- Basket total -->
                <div class="row mt-4">
                    <div class="col-12">
                        <span class="float-start">
                            <h5 class="text-left">Basket Total</h5>
                        </span>
                        <span class="float-end">€{{ total|floatformat:2 }}</span>
                    </div>
                </div>
                <!-- Delivery total -->
                <div class="row mt-3">
                    <div class="col-12">
                        <span class="float-start">
                            <h5>Delivery</h5>
                        </span>
                        <span class="float-end">€{{ delivery|floatformat:2 }}</span>
                    </div>
                </div>
                {% if free_delivery_difference > 0 %}
                <div class="row">
                    <div class="col-12">
                        <p class="mb-1 fs-6 text-danger">
                            <strong>You could get free delivery by spending just €{{ free_delivery_difference }} more!</strong>
                        </p>
                    </div>
                </div>
                {% else %}
                <div class="row mt-3">
                    <div class="col-12">
                        <small class="mb-1">
                            You have qualified for <strong>free delivery!</strong>
                        </small>
                    </div>
                </div>
                {% endif %}
                <!-- Order total -->
                <div class="row mt-3">
                    <div class="col-12">
                        <span class="float-start">
                            <h4><strong>Order Total</strong></h4>
                        </span>
                        <span class="float-end fs-4"><strong>€{{ order_total|floatformat:2 }}</strong></span>
                    </div>
                </div>
                <!-- button to continue shopping -->
                <div class="row mt-3 mb-4">
                    <div class="col-6 col-sm-6 text-center">
                        <a href="{% url 'products' %}" class="btn btn1">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 text-center">
                        <!-- button to securily check out and pay for items-->
                        <a href="{% url 'checkout' %}" class="btn btn1">
                            <span class="text-uppercase">Secure Checkout</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-6 text-center mx-auto">
                <p>Your bag is currently empty.</p>
                <a href="{% url 'products' %}" class="btn btn1 mb-3">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Shop Now</span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
    <!-- including the parent block -->
    {{ block.super }}
    <!-- Importing quantity_input_js.html to handle
    quantity input in basket.html also -->
    {% include 'products/includes/quantity_input_js.html' %}
    <script type="text/javascript">
        // Update quantity on click
        $('.update-item').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })
    
        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var size = $(this).data('product_size');
            var url = `/basket/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};
    
            $.post(url, data)
             .done(function() {
                 location.reload();
             });
        })
    </script>
{% endblock %}