html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
/* setting font styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Gideon Roman', cursive;
  }
p, button, a {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
}

a {
  color: black;
}
a:hover {
  color: #46AB21;
}

header {
  position: relative;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.6);
  }

/* setting general button design */
/* design idea from 'Animated CSS Buttons'  */
.btn{
  position: relative;
  color: black;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  border: 1px solid #ff7675;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn::before{
  background: #ff7675;
  color: white;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}
/* general button hover effect */
.btn1:hover {
  color: white;
}
.btn1::before{
  width: 0%;
  height: 100%;
}
.btn1:hover::before{
  width: 100%;
}

.navbar-nav .dropdown-menu {
    border: none;
}

@keyframes fade-inout {
    0%{ opacity: 1;}
    100%{ opacity: 0;}
}

.fade-in-out {
    animation: fade-inout 5s infinite alternate;
}

/* footer section in base.html */
footer .container-fluid {
  position: relative;
  z-index: 1000;
}

.display {
  display: flex;
  justify-content: space-evenly;
}

i {
  font-size: 2rem;
}

.payment-img {
  height: 70px;
  margin: 10px auto;
}

.payment-img .img {
  background: url('/media/payment-image.JPG') no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1000;
}

/* index.html */
.landing-image {
  height: 70vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  
}

.landing-image .container-fluid {
  background: url('/media/landing-image.jpg') no-repeat fixed;
  background-size: cover;
  margin: 0px auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.landing-image .container-fluid .text-center {
  background-color: rgba(0, 0, 0, 0.6);
}

.showcase {
  height: 60vh;
  overflow: hidden;
  position: relative;
  
}
.latest-img {
  background: url('/media/golf-brands-image.png') no-repeat center center;
  background-size: cover;
  height: 60%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1000;
}

.tips-img {
  background: url('/media/golfers-used-clubs-guide.webp') no-repeat center center;
  background-size: cover;
  height: 60%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1000;
}

/* products.html page */
.star-color {
  color: gold;
  font-size: 1.5rem;
  margin-right: 1rem;
}