html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
/* setting font styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Gideon Roman', cursive;
  }
p, button, a {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgba(0, 114, 0, 1);
}

header {
  position: relative;
  z-index: 50;
  }

.logo-font {
  color: rgba(0, 114, 0, 1);
}

.logo-font i {
  color: rgba(255, 215, 0, 1);
}
.navbar,
.reviews-section {
  background-color: rgba(0, 114, 0, 0.9);
}

.navbar .dropdown-toggle {
  color: white;
  border: none;
  margin-right: 20px;
}

#delivery-banner,
.new-products {
  background-color: rgba(0, 114, 0, 0.6);
}

.mobile-icon {
  color: white;
  font-size: 1rem;
}
.new-products h2 {
  color: white;
}

/* setting general button design */
/* design idea from 'Animated CSS Buttons'  */
.btn{
  position: relative;
  color: black;
  font-size: 14px;
  font-family: "montserrat";
  margin-top: 5px;
  text-decoration: none;
  border: 1px solid #38B000;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn::before{
  background: #38B000;
  color: white;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.5s ease;
}
/* general button hover effect */
.btn1:hover {
  color: white;
}
.btn1::before{
  width: 0%;
  height: 100%;
}
.btn1:hover::before{
  width: 100%;
}

.navbar-nav .dropdown-menu {
    border: none;
}

menu {
  margin-bottom: 0;
}
.list-inline-item.dropdown {
  margin-right: 3rem;
}

@keyframes fade-inout {
    0%{ opacity: 1;}
    100%{ opacity: 0;}
}

.fade-in-out {
    animation: fade-inout 4s;
}

/* setting size of icons */
i {
  font-size: 1rem;
}
/* setting position of message container containing toasts */
.message-container {
  position: fixed;
  background-color: white;
  top: 80px;
  right: 15px;
  z-index: 1111111;
}

.message-container a {
  z-index: 1111111111;
}
.custom-toast {
  overflow: visible;
  max-width: 270px;
  width: 100%;
  font-size: 14px;
}
.toast-capper {
  height: 2px;
}

.basket-toast-container {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}
/* footer section in base.html */
footer .container-fluid {
  position: relative;
  z-index: 1000;
}

footer .container-fluid input {
  min-width: 200px;
}

footer a {
  color: white;
}

footer i {
  font-size: 2rem;
}

.display {
  display: flex;
  justify-content: space-evenly;
}

.payment-img {
  height: 70px;
  margin: 10px auto;
}

.payment-img .img {
  background: url('/media/payment-image.JPG') no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1000;
}

/* index.html */
.landing-image {
  height: 70vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  
}

.landing-image .container-fluid {
  background: url('/media/landing-image.jpg') no-repeat fixed;
  background-size: cover;
  margin: 0px auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.landing-image .container-fluid .text-center {
  background-color: rgba(0, 0, 0, 0.4);
}
/* styling review section */
.reviews-section {
  background-color: rgba(0, 114, 0, 0.1);
}

/* products.html page */
.product-container {
  background-color: rgba(0, 114, 0, 0.1);
}
.star-color {
  color: gold;
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.tag-icon {
  font-size: 1.4rem;
  margin-right: 0.5rem
}

.sort-select-wrapper {
  width: 100%;
}

/* product_detail.html */
#more {
  display: none;
}

.card-img-top {
  width: 100%;
  margin: 0 auto;
}

.img-fluid {
  max-width: 130%;
}

.image-container {
  width: 70%;
  margin: 0 auto;
}

.zoom-btns {
  width: 115px;
  margin: 10px auto;
}

.zoom-btns p {
  font-size: 0.9rem;
}

.zoom-btns i {
  font-size: 1.5rem;
}

.input-group button {
  height: 55px;
  margin: 0px;
}

.input-group input {
  height: 55px;
}
/* setting position of back to the top button in products.html */
.btt-button {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 30%;
  right: 15px;
}

.top-btt,
.update-link,
.remove-item {
  cursor: pointer;
}

/* add_product.html styling */
.product-form-border {
  border: 1px solid rgb(186, 185, 185);
  border-width: thin;
}
#product-form input,
#product-form select,
#product-form textarea {
    width: 100%;
    margin: 5px auto;
    border: 1px solid black;
    border-radius: 4px;
    padding: 2px;
    color: black;
  }

#product-form input[type='checkbox'] {
  width: 5% !important;
}

#product-form label {
  margin-top: 10px;
}

#product-form #id_image {
  margin-top: 20px;
}

.errorField {
  font-size: 90%;
  color: #d81125;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 10px;
  display: block;
}

/* basket.html styling */
.basket-img {
  max-width: 70%;
  height: auto;
}

.update-item, .remove-item {
  cursor: pointer;
}

/* allauth html file styling */
#div_id_password {
  margin: 15px auto;
}

#div_id_email2 {
  margin: 15px auto;
}

#div_id_username {
  margin: 15px auto;
}

#div_id_password1 {
  margin: 15px auto;
}

#div_id_password2 {
  margin: 15px auto;
}

.allauth-inner-content .signup input {
  width: 100%;
}

/* hiding all labels except the remember me checkbox
given that all other inputs already have labels */
.allauth-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-inner-content input::placeholder {
  color: #aab7c4;
}

/* styling checkbox input for products through
custom_clearable_file_input.html */
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}

/* mailchimp custom styling */
#mc_embed_signup {
  clear: left;
  font: 14px Helvetica,Arial, sans-serif; 
  width: 100%;
}

@media (max-width: 310px) {
  .custom-toast {
      font-size: 12px;
 }
}
