<div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav nav w-auto mx-auto">
        <div class="dropdown nav-item">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              All Products
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">By Price</a></li>
              <li><a class="dropdown-item" href="#">By Rating</a></li>
              <li><a class="dropdown-item" href="#">By Quality</a></li>
              <li><a class="dropdown-item" href="#">By Category</a></li>
              <li><a class="dropdown-item" href="#">By Brand</a></li>
            </ul>
        </div>

        <div class="dropdown nav-item">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Golf Clubs
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">Putters</a></li>
              <li><a class="dropdown-item" href="#">Irons</a></li>
              <li><a class="dropdown-item" href="#">Sandwedges</a></li>
              <li><a class="dropdown-item" href="#">Woods</a></li>
              <li><a class="dropdown-item" href="#">Drivers</a></li>
              <li><a class="dropdown-item" href="#">All Clubs</a></li>
            </ul>
        </div>

        <div class="dropdown nav-item">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Accessories
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">Tees</a></li>
              <li><a class="dropdown-item" href="#">Gloves</a></li>
              <li><a class="dropdown-item" href="#">Golf Balls</a></li>
              <li><a class="dropdown-item" href="#">Caps</a></li>
              <li><a class="dropdown-item" href="#">All Accessories</a></li>
            </ul>
        </div>

        <div class="dropdown nav-item">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Besf Offers
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">New In</a></li>
              <li><a class="dropdown-item" href="#">Deals</a></li>
              <li><a class="dropdown-item" href="#">Clearance</a></li>
              <li><a class="dropdown-item" href="#">All Offers</a></li>
            </ul>
        </div>
    </ul>
</div>
        