<div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav nav w-auto mx-auto">
        <div class="dropdown nav-item">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              All Products
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=brand&direction=asc">By Brand</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=type&direction=asc">By Condition</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
            </ul>
        </div>

        <div class="dropdown nav-item">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Golf Clubs
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=putters">Putters</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=irons">Irons</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=sandwedges">Sandwedges</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=woods">Woods</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=drivers">Drivers</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=putters,irons,sandwedges,woods,drivers">All Clubs</a></li>
            </ul>
        </div>

        <div class="dropdown nav-item">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Accessories
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=tees">Tees</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=gloves">Gloves</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=golf_balls">Golf Balls</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=caps">Caps</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=tees,gloves,golf_balls,caps">All Accessories</a></li>
            </ul>
        </div>

        <div class="dropdown nav-item">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Besf Offers
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=new_in">New In</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=deals">Deals</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=clearance">Clearance</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=new_in,deals,clearance">All Offers</a></li>
            </ul>
        </div>
    </ul>
</div>
        