<li class="list-inline-item dropdown">
    <a class="dropdown-toggle d-block d-lg-none" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
        <div><i class="fas fa-user fa-lg"></i></div>
        <!-- <p class="my-0">My Account</p> -->
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <li><a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a></li>
                <li><a href="{% url 'admin:index' %}" class="dropdown-item">Admin Panel</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a></li>
        {% else %}
            <li><a class="dropdown-item" href="{% url 'account_login' %}">Log In</a></li>
            <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
        {% endif %}
    </ul>
</li>

<li class="list-inline-item">
    <!-- highlighting shopping bag when bag is not empty -->
    <a class="d-block d-lg-none text-decoration-none {% if total > 0 %}text-info font-weight-bold{% else %}text-black{% endif %}" href="{% url 'view_basket' %}">
        <div class="text-center">
            <div><i class="fas fa-shopping-basket fa-lg"></i></div>
            <!-- displaying total cost when product added to the bag -->
            <small class="my-0">
                {% if order_total %}
                    €{{ order_total|floatformat:2 }}
                {% else %}
                    €0.00
                {% endif %}
            </small>
        </div>
    </a>
</li>