{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
    <div class="container-fluid mb-3">
        <div class="row">
            <div class="col-12 col-md-5 mx-auto mt-3">
            <div class="allauth-inner-content text-center">
                    <h1>{% trans "Sign Up Closed" %}</h1>

                    <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
