.checkout-container {
  background-color:rgba(0, 114, 0, 0.1);
}

#delivery-form input,
#delivery-form select,
#delivery-form textarea {
    width: 100%;
    margin: 5px auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    color: black;
  }
#delivery-form textarea {
  min-height: 120px;
}
#delivery-form .form-check-input {
  width: 5%;
}
/* stripe default element styling taken from strip documentation */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
}

/* styling select option colors (country field) */
select,
select option {
  color: #000000;
}

select:invalid,
select option[value=""] {
  color: #aab7c4 !important;
}

/* Right hand side of checkout.html */
/* container 1 */
.shopping-basket {
  background-color: rgba(169, 174, 169, 0.4);
}
/* container 1 */
.shopping-summary {
  background-color: rgba(169, 174, 169, 0.4);
}

/* checkout_confirm.html */
.confirm-icon {
  font-size: 3rem !important;
  color: rgba(0, 114, 0, 1) !important;
}

/* loading screen div styling under main container */
#overlay-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(169, 174, 169, 0.8);
  z-index: 999999;
}

#overlay-screen h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}

#overlay-screen h1 i {
  font-size: 5rem;
}

/* fixed top navbar only on medium and up */
@media (max-width: 508px) {
  .order-number {
      display: none;
  }