{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid product-container">
        <div class="row">
            <div class="col text-center my-3">
                <h2 class="logo-font">Golf Mania Product Management</h2>
                <hr class="w-50 my-4 mx-auto">       
                <h3>Welcome back {{ request.user.username}}! </h3>
            </div>
        </div>
        <!-- Add_product form rendered as crispy -->
        <div class="row">
            <div class="col-12 col-md-6 col-lg-7 mb-4 mx-auto product-form-border">

                <div class="col-12- col-lg-8 mx-auto">
                    <!-- enctype attr to upload image -->
                    <form method="POST" action="{% url 'add_product' %}" id="product-form" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- To hide image label and load everything else as crispy form -->
                        {% for field in product_form %}
                            {% if field.name != 'image' %}
                                {{ field | as_crispy_field }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                        <div class="text-center my-3">
                            <a class="btn btn1 me-2" href="{% url 'products' %}">Cancel</a>
                            <button class="btn btn1" type="submit">Add Product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- To handle notifying the user of what the image uploaded is going to be -->
{% block postloadjs %}
    {{ block.super }}
    <script>
        $('.new-image').change(function() {
            var file = $('.new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}