{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    <!-- if product has no image, display general 'none' image in Media -->
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" id="geeks" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
                <div class="zoom-btns">
                    <p class="text-center">Zoom In/Out</p>
                    <button class="btn btn1 me-3" onclick="zoomin()">
                        <i class="fas fa-plus"></i>
                    </button>
                    
                    <button class="btn btn1" onclick="zoomout()">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
               
            </div>
            <div class="col-12 col-md-6 col-lg-4 mx-lg-auto">
                <div class="product-details-container mb-5 mt-md-5">
                    <h3 class="mt-3 logo-font text-center">{{ product.name }}</h3>
                    {% if product.category %}
                        <p class="small mt-2 mb-2">
                            <a class="text-decoration-none" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag tag-icon mr-1"></i>{{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    <!-- if user is superuser, display edit and delete options -->
                    {% if request.user.is_superuser %}
                        <p class="ml-3">
                            <a class="text-info fs-6" href="{% url 'update_product' product.id %}">Update</a> |
                            <a class="text-danger fs-6" href="{% url 'delete_product' product.id %}">Delete</a>
                        </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted mt-3"><i class="fas fa-star mr-1 star-color"></i>{{ product.rating }} / 5 {% if product.rating > 4.00 %}| <small>Highly Recommended</small>{% endif %}</small>
                    {% else %}
                        <small class="text-muted mt-3">No Rating</small>
                    {% endif %}
                    {% if product.hand_type %}
                        <p class="text-muted mt-3 small">Hand Type: <strong>{{ product.hand_type }}</strong></p>
                    {% endif %}

                    <p class="mb-0 mt-3 text-left font-weight-bold">Our price: <strong class="logo-font">€{{ product.price }}</strong> {% if product.old_price %}| was <small class="text-danger text-decoration-line-through fs-5">€{{ product.old_price }}</small>{% endif %}</p>

                    <h5 class="mt-3 logo-font text-decoration-underline">Product Description</h5>
                    <p class="mt-1">{{ product.description }}</p>
                    {% if product.features %}
                        <button onclick="readMore()" class="btn btn1" id="features-btn">Read more</button>
                        <div class="mt-3" id="more">
                            <h4>Features:</h4>
                            <p>{{ product.features }}</p>
                        </div>
                    {% endif %}
                    <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row mt-2">
                             <!-- only with has_sizes products -->
                             {% with product.has_sizes as has_size %}
                             {% if has_size %}
                                 <div class="col-12 mt-2">
                                     <p><strong>Hand Size</strong></p>
                                     <!-- form controlling 5 different size options -->
                                     <select class="form-control rounded-0 w-50" name="product_size" id="id_product_size">
                                         <option value="xs">XS</option>
                                         <option value="s">S</option>
                                         <option value="m" selected>M</option>
                                         <option value="l">L</option>
                                         <option value="xl">XL</option>
                                     </select>
                                 </div>
                             {% endif %}
                             {% endwith %}
                             <!-- only with has_quality products -->
                             {% with product.has_quality as has_quality %}
                             {% if has_quality %}
                                 <div class="col-12 mt-2">
                                     <p><strong>Quality</strong></p>
                                     <!-- form controlling 5 different size options -->
                                     <select class="form-control rounded-0 w-50" name="product_quality" id="id_product_quality">
                                         <option value="a">A</option>
                                         <option value="b" selected>B</option>
                                         <option value="c">C</option>
                                     </select>
                                 </div>
                             {% endif %}
                             {% endwith %}
                            <div class="col-12">
                                <h6 class="mt-3 text-uppercase"><strong>Quantity</strong></h6>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn1" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="tag-icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn1"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="tag-icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="{% url 'products' %}" class="btn btn1 mt-4">
                                    
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <button type="submit" class="btn btn1 text-uppercase ms-2 mt-4" value="Add to Bag">Add to Basket</button>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Newest products advertising area under product description -->
        <div class="row product-container">
            <div class="col-12 my-4 text-center">
                <h3 class="fs-2 logo-font">Check out our newest products!</h3>
            </div>
                {% for product in products %}
                    {% if product.category.name == 'new_in' %}
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mx-auto mb-4">
                            <div class="card border-0">
                                <div class="card-body pb-0">
                                    
                                    <h5 class="text-center logo-font">{{ product.name }}</h5>                     
                                </div>
                                {% if product.rating %}
                                    <!-- if product's rating is higher than 4, show highly recommended message -->
                                    <small class="text-muted text-center"><i class="fas fa-star mr-1 star-color"></i>{{ product.rating }} / 5 {% if product.rating > 4.00 %}| <small>Highly Recommended</small>{% endif %}</small>
                                {% endif %}
                                <h5 class="mb-0 logo-font text-center mt-2 font-weight-bold">{% if product.old_price %}<small class="text-danger text-decoration-line-through me-3 fs-5">€{{ product.old_price }}</small>{% endif %}€{{ product.price }}</h5>

                                {% if product.image %}
                                <a class="text-decoration-none" href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
    <!-- including the parent block -->
    {{ block.super }}
    <!-- Two JS function for zoom in zoom out function -->
    <script type="text/javascript">
        function zoomin() {
            var GFG = document.getElementById("geeks");
            var currWidth = GFG.clientWidth;
            GFG.style.width = (currWidth + 50) + "px";
        }
        
        function zoomout() {
            var GFG = document.getElementById("geeks");
            var currWidth = GFG.clientWidth;
            GFG.style.width = (currWidth - 50) + "px";
        }
    </script>
    <!-- JS function controls display of features -->
    <script type="text/javascript">
        function readMore() {
            var dots = document.getElementById("dots");
            var moreText = document.getElementById("more");
            var btnText = document.getElementById("features-btn");
        
            if (moreText.style.display === "none") {
            moreText.style.display = "unset";
            btnText.innerHTML = "Read less";
            
            } else {
            moreText.style.display = "none";
            btnText.innerHTML = "Read more";
            }
        }
    </script>
    <!-- Importing quantity_input_js.html to handle
    quantity input -->
    {% include 'products/includes/quantity_input_js.html' %}
{% endblock %}